body {
    background-color: #f1d65f;
    font-family: 'Raleway', sans-serif;

}

.game-grid {
	width: 250px;

/*    box-shadow: 0px 20px 80px 2px #87719c;*/
    padding: 0px;
    margin: auto;
    display: block;
    
}

.game-button:focus {
    outline: 0;
}

.game-button {
	width: 75px;
	height: 100px;
    border: solid 1.5px white;
}

h2 {
    color: #624eca;
    margin-bottom: 20px;
    text-align: center;
}

.note {
    text-align: center;
    font-size: .9em;
}

#replay {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 50%;
    padding: 10px;
}

#replay:hover, #change-player-type:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 1px #636363;
}

.replay-div button {
    display: block;
    margin: auto;
}


.score button:focus, #change-player-type:focus {
    outline: 0;
}

.score {
    width: 100%;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack: center;
    box-align: center;
}

.score p {
    font-size: 1.2em;
    text-align: center;
}

.score div {
    display: inline-block;
    margin: 0 20px;
}

#purple:hover, #yellow:hover {
    cursor: pointer;
}

#change-player-type {
	background-color: #383738;
	color: white;
	margin-bottom: 15px;
	border: none;
	padding: 10px;
	width: 150px;
	font-size: .7em;
	
}

